<script>
var MMLang = {
	Kein_Objekt_aktiv: "#!Kein_Objekt_aktiv!#",
	neuer_Knotenpunkt: "#!neuer_Knotenpunkt!#",
	Knotenpunkt_bearbeiten: "#!Knotenpunkt_bearbeiten!#",
	Titel: "#!Titel!#",
	um_mehrere_Knoten_nebeneinander_zu_erstellen: "#!um_mehrere_Knoten_nebeneinander_zu_erstellen!#",
	um_mehrere_Knoten_hintereinander_zu_erstellen: "#!um_mehrere_Knoten_hintereinander_zu_erstellen!#",
	Beschreibung: "#!Beschreibung!#",
	Schriftfarbe: "#!Schriftfarbe!#",
	Schriftgroesse: "#!Schriftgroesse!#",
	Hintergrundfarbe: "#!Hintergrundfarbe!#",
	Rahmenfarbe: "#!Rahmenfarbe!#",
	Dicke: "#!Dicke!#",
	Art: "#!Art!#",
	abgerundet: "#!abgerundet!#",
	rund: "#!rund!#",
	eckig: "#!eckig!#",
	unterstrichen: "#!unterstrichen!#",
	Verlinkung: "#!Verlinkung!#",
	kein_Link: "#!kein_Link!#",
	externer_Link: "#!externer_Link!#",
	interner_Link: "#!interner_Link!#",
	oder: "#!oder!#",
	hinzufuegen: "#!hinzufuegen!#",
	bearbeiten: "#!bearbeiten!#",
	loeschen: "#!loeschen!#",
	relink: "#!umhaengen!#",
	relink2: "#!hieranhaengen!#",
	arrow_ende: "#!amEnde!#",
	arrow_anfang: "#!amAnfang!#",
	arrow_beide: "#!amAnfangundamEnde!#",
	arrow_ohne: "#!ohnePfeilspitzen!#",
	Diesen_Knoten_inkl_Unterknoten_loeschen: "#!Diesen_Knoten_inkl_Unterknoten_loeschen!#"
};
</script>

